/* Large desktops and laptops */
@media (min-width: 1200px) {
    /** image **/
    .image-feature2 {
        position: absolute !important;
        top: -140px !important;
        left:0px !important;
        /* height: 583px !important; */
        z-index:10
    }

    /** features - section **/
    #feature3 {
        padding-bottom: 156px !important
    }

    #feature8 .feature8-rondExt{
        width:250px;
        height:250px;
    }

    #feature8 .feature8-rondExt>.feature8-rondContent {
        font-size: 100px;
    }

    #feature8 .feature8-rondExt>.feature8-rondContent>sup {
        font-size: 25px;
    }

    /** FONTS **/
    .fs-92 {
        font-size: 100px !important;
        line-height : 100px;

    }
    .fs-75 {
        font-size: 85px !important;
        line-height : 85px;

    }
    .fs-52 {
        font-size: 62px !important;
        line-height : 62px;

    }
    .fs-28 {
        font-size: 38px !important;
        line-height : 38px;

    }
    .fs-22 {
        font-size: 32px !important;
        line-height : 32px;

    }
    .fs-17 {
        font-size: 27px !important;
        line-height : 27px;

    }
    
    .fs-15 {
        font-size: 25px !important;
        line-height : 25px;

    }


}