@font-face{
    font-family: "Config";
    src : url('../fonts/config_complete_fonts/Config-Regular.otf');
}
@font-face{
    font-family: "Config-Bold";
    src : url('../fonts/config_complete_fonts/Config-ExtraBold.otf');
}
